$white: #fff;
$dark-white: #fcfcfd;
$darker-white: #f5f4f6;
$darkest-white: #ebeaed;
$MostDarkestWhite: #dedce1;

$ink: #170c3a;
$light-ink: #8f8a9b;
$lighter-ink: #b1adb9;
$lightest-ink: #c7c4cd;

$darker-blue: #244aa8;
$dark-blue: #2f55cc;
$blue: #365df0;
$light-blue: #9aaef7;
$lighter-blue: #b9c6fa;
$lightest-blue: #cad6fc;
$most-lightest-blue: #e1e7fd;

$darker-green: #0e995d;
$dark-green: #10b26c;
$green: #12db89;
$light-green: #88edc4;
$lighter-green: #b7f7d8;
$lightest-green: #cff9e6;
$most-lightest-green: #e7fbf3;
